.gold {
    color: #F1B82D;
  }

.titleContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nameHeader {
    margin-top: 3.25%;
    margin-bottom: -0.5%;

    font-family: "GOTHAM-BOLD";
    font-size: 500%;
    line-height: 100%;
}

.nameContainer {
    width: 75%;
}

.countContainer {
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

p {
    font-family: "GOTHAM-BOOK";
    font-size: 1.5em;
}

hr {
    border: 2.5px solid black;
    width: 90%;
}

.itemInfoContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.photoContainer {
    margin-top: 5%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.photoItem {
    transform: scale(1.5);
}

.laptopInfoContainer, .nonLaptopInfoContainer {
    margin-top: 10%;
    width: 40%;
}

h3 {
    font-family: "GOTHAM-BOOK";
    font-size: 1.5em;
}

b {
    font-family: "GOTHAM-BOLD";
}

/* Table Div */
.tableContainer {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.specificItems {
    width: 80%;
    background-color: white;
    border: 2px solid black;
    box-shadow: 7px 7px 7px black;
}

th, td {
    color: black;
}

tr:nth-of-type(even) {
    background-color: #D7D7D7;
}

@media (max-width: 768px) {
    .titleContainer, .itemInfoContainer {
        flex-direction: column;
    }

    .photoItem {
        margin-bottom: 15%;
    }
    
    .specs {
        margin-bottom: 5%;
    }
}


/* 
#title{
    display: flex;
    border-bottom: 5px solid black;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
    
}

#item {
text-align: left;
font-size: 2vh;
float: left;
position: relative;
margin-top: 5%;
font-family: "GOTHAM-BOLD";
    font-size: 4em;
}

.spacer {
    flex: 1 1 auto;
  }

.count {
    font-size: 2vh;
    padding-right: 2%;
    position: relative;
    margin-top: 5%;
}

img {
    float: left;
    width: 30%;
    height: 30%;
    margin-left: 10%;
    margin-top: 1%;
}



#content{
    float: left;
    padding-left: 2%;
    padding-top: 3%;
}

button {
    border-radius: 2px solid black;
    min-width: 10%;
} */