<div id="title">
    <span id="item"><b>MacBook Pro 16"</b></span>
    <span class="spacer"></span>
    <span class="count"><b class="gold">___</b> Out</span>
    <span class="count"><b>___</b> Available</span>
</div>
<div id="img">
    <img src="./assets/MacBookPro_Touchbar.png">
</div>
<div id="content">
    <h3><b>DEVICE SPECS</b></h3>
    <h3><b>CPU:</b></h3>
    <h3><b>GPU:</b></h3>
    <h3><b>Memory (RAM):</b></h3>
    <h3><b>Storage:</b></h3>
    <button mat-raised-button>Add to Cart</button>
</div>

