.gold {
    color: #F1B82D;
  }

#title{
    display: flex;
    border-bottom: 5px solid black;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
}

#item {
text-align: left;
font-size: 2vh;
float: left;
position: relative;
margin-top: 5%;
}

.spacer {
    flex: 1 1 auto;
  }

.count {
    font-size: 2vh;
    padding-right: 2%;
    position: relative;
    margin-top: 5%;
}

img {
    float: left;
    width: 30%;
    height: 30%;
    margin-left: 10%;
    margin-top: 1%;
}



#content{
    float: left;
    padding-left: 2%;
    padding-top: 3%;
}

button {
    border-radius: 2px solid black;
    min-width: 10%;
}