#cartHeader {
    margin-top: 3%;
    margin-bottom: 1.5%;
    margin-left: 5%;

    font-family: "GOTHAM-BOLD";
    /* font-weight: bold; */
    font-size: 500%;
}

#pickupHeader {
    margin-top: 3%;
    margin-bottom: 0.5%;
    margin-left: 5%;

    font-family: "GOTHAM-MEDIUM";
    /* font-weight: normal; */
    font-size: 200%;
    display: block;
}

hr {
    border: 2.5px solid black;
    width: 90%;
}

.pickupForm {
    display: block;
    width: 25%;
    margin-left: 6%;
    margin-bottom: 0.05%;

    /* background-color: #D7D7D7; */
}

.cartCheckbox {
    display: block;
    width: 25%;
    margin-left: 6.6%;
}

mat-label, mat-datepicker-toggle {
    color: #f1b82d;
}

img {
    float: left;
    width: 20%;
    height: 20%;
    margin-left: 10%;
    margin-top: 1%;
    max-width: 20%;
    max-height: 20%;
    min-width: 20%;
    min-height: 20%;
}

.itemContainer {
    display: flex 1 1 auto;
    width: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: #f1b82d solid 1px;
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
}

#content{
    display: flex;
    float: left;
    padding-left: 2%;
    padding-top: 3%;
}

#content h3{
    display: flex;
    float: left;
    padding-left: 2%;
}

#content h3 b{
    display: flex;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}

.pickupContainer {
    display: block;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cartContainer {
    display: flex;
    flex-flow: column;
}

#delete {
    position: absolute;
    right: 0;
    margin-right: 2%;
    background-color: rgb(245, 112, 112);
}

#clear {
    width: 100%;
}