<div class="cartContainer">
    <h1 id="cartHeader">Cart</h1>
    <hr>


    <!-- IF Model is a laptop-->
<div class="itemInCart" *ngFor="let item of items">
    <div class="functionContainer">
        <button mat-button id="delete">
            <mat-icon aria-hidden="false" aria-label="Shopping Cart" (click)="deleteItem(item)">delete</mat-icon>
        </button>
    </div>
    <div class="itemContainer">
    <div id="img">
        <img src="{{item.imagePath}}">
    </div>
    <div class="specs">
        <div id="content">
            <h3><b>Model:</b> {{item.model}}</h3>
            <h3><b>Barcode:</b> {{item.barCode}}</h3>
            <h3><b>Location:</b> {{item.location}}</h3>
        </div>
    </div>
        <!--Not able to make this work yet-->
            <!-- <button mat-button id="delete">
                <mat-icon aria-hidden="false" aria-label="Shopping Cart" (click)="deleteItem(item)">delete</mat-icon>
            </button> -->
        </div>
    
</div>
<div *ngIf="noItems != true" >
    <button class="middleBtn" mat-raised-button (click)="clearCart()">
        Clear Cart
    </button>
</div>
<br>
<div class="pickupContainer">
    <h2 id="pickupHeader">Pick-up Information</h2>
    <hr>

    <div>
        <div class="pickupForm">
            <form [formGroup]="cartForm" id="form">
                <!-- <div class="center">
                <mat-form-field appearance="fill" appearance="outline" class="pawprintSelection">
                    <input required type="text" matInput formControlName="pawprint" placeholder="Pawprint of User" id="text"/>
                </mat-form-field>
                <div *ngIf="pawprint?.invalid && pawprint?.touched">
                    <div class="error">Please input the pawprint</div>
                </div>
                <div *ngIf="cartError">
                    <div class="error">User is not found</div>
                </div>
                </div> -->
                <mat-form-field appearance='standard'>
                    <mat-label>Student PawPrint</mat-label>
                    <input required type="text" placeholder="PawPrint" aria-label="PawPrint" matInput formControlName='pawPrintControl' [matAutocomplete]='auto'>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form> 
            <form [formGroup]="cartForm">
                <mat-form-field appearance="standard" >
                    <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]='picker' [min]="minDate" formControlName='dueDateControl'>
                    <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </form>
        </div>
    </div>
    

    <div *ngIf="noItems != true" >
        <button class="middleBtn" id="checkoutBtn" mat-raised-button (click)="checkUser()">
            Checkout
        </button>
    </div>
    <div *ngIf="cartError">
        <div class="error"><strong>Invalid Submission!</strong><br>Ensure that PawPrint exists in database and due date is selected.</div>
    </div>
    
</div>