::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
   
   
   mat-datepicker-toggle {
    color: black !important;
   }

   mat-label, mat-datepicker-toggle {
    color: black;
}

#cartHeader {
    margin-top: 3%;
    margin-bottom: 1.5%;
    margin-left: 5%;

    font-family: "GOTHAM-BOLD";
    font-size: 500%;
}

#pickupHeader {
    margin-top: 3%;
    margin-bottom: 0.5%;
    margin-left: 5%;

    font-family: "GOTHAM-MEDIUM";
    font-size: 200%;
    display: block;
}

hr {
    border: 2.5px solid black;
    width: 90%;
    margin-bottom: 1.5%;
}

.pickupForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5%;
}

.cartCheckbox {
    display: block;
    width: 25%;
    margin-left: 6.6%;
}



img {
    margin: 0 75px;
    /* float: left;
    width: 20%;
    height: 20%;
    margin-left: 10%;
    margin-top: 1%;
    max-width: 20%;
    max-height: 20%;
    min-width: 20%;
    min-height: 20%; */
}

.itemInCart {
    border: #f1b82d solid 1px;
    width: 90%;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.functionContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.itemContainer {
    /* display: flex 1 1 auto; */
    /* margin: 0 auto; */
    margin: -2.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    /* height: 350px; */
    /* border: #f1b82d solid 1px; */
    /* margin-top: 1%;
    margin-bottom: 1%;
    border: #f1b82d solid 1px;
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%; */
}

.specs {
    width: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* padding-left: 2%;
    padding-top: 3%; */
}

#content h3{
    display: flex;
    float: left;
    padding-left: 2%;
}

#content h3 b{
    display: flex;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}



/* .pickupContainer {
    display: block;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
} */

.cartContainer {
    display: flex;
    flex-flow: column;
}

#delete {
    margin: 15px;
    background-color: rgb(245, 112, 112);
}

.middleBtn {
    margin: 0 auto;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#checkoutBtn {
    margin-bottom: 1.5%;
}

.gold {
    color: #F1B82D;
  }

.titleContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nameHeader {
    margin-top: 3.25%;
    margin-bottom: -0.5%;

    font-family: "GOTHAM-BOLD";
    font-size: 500%;
    line-height: 100%;
}

/* .nameContainer {
    width: 75%;
} */

/* .countContainer {
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    width: 25%;
} */

p {
    font-family: "GOTHAM-BOOK";
    font-size: 1.5em;
}

hr {
    border: 2.5px solid black;
    width: 90%;
}

/* .itemInfoContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */

/* .photoContainer {
    margin-top: 5%;
    width: 40%;
    display: flex;
    justify-content: center;
} */

.photoItem {
    transform: scale(1.5);
}

/* .laptopInfoContainer, .nonLaptopInfoContainer {
    margin-top: 10%;
    width: 40%;
} */

h3 {
    font-family: "GOTHAM-BOOK";
    font-size: 1.5em;
}

b {
    font-family: "GOTHAM-BOLD";
}

@media (max-width: 768px) {
    #cartHeader {
        margin-top: 5%;
    }

    .itemInCart {
        height: 525px;
    }

    .itemContainer {
        margin: 0 auto;
        flex-direction: column;
        align-content: center;
    }

    #checkoutBtn {
        margin-bottom: 3%;
    }
}

.snackbar-success {
    background-color: #4CAF50;
    color: white;
}

/* #backgroundImg {
    position: absolute;
    min-width: 100%; 
    height: 100%;
    z-index: 0;
} */

/* #title {
    padding-bottom: 8%;
} */

/* #form {
    padding-bottom: 8%;
} */
/* button {
    display: block;
    margin: auto;
    font-size: large;
} */

/* .loginContainer {
    margin-top: 4%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */

.example-card {
    /* position: absolute; */
    /* top: 20%; */
    /* left: 60%; */
    /* width: 30%; */
    width: 400px;
    background-color: black;
    /* z-index: 1000; */
}

p {
    margin-top: 5%;
    margin-bottom: 0;
}

/* #MU {
width: 150px;
height: 160.6px;
left: 1040px;
top: 237px;
margin: auto;
display: block;
} */

/* .center {
    text-align: center;
} */

/* .pawprintSelection {
    width: 75%;
    color: black;
} */

/* .error {
    color: red;
} */

/* input color class */
/* ::ng-deep input.mat-input-element {
    color: #110d0d;
  } */

  /* Change label color on focused */
  /* ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #50d0fb !important;
  } */

  /* underline border color on focused */
  /* ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #50d0fb !important;
  } */

/* border-radius change: https://stackoverflow.com/questions/66484113/change-increase-border-radius-of-mat-form-field
     -needs important tags
     - Background color is all adjusted here
*/

/* ::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
  background-color: white;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
  background-color: white;
}

  ::ng-deep .mat-form-field-outline {
    border-radius: 28px 28px 28px 28px !important;
    background-color: #ffffff;
    box-shadow: 00px 0px 10px -2px #222222;
  } */

  /* ::placeholder {
    color: black;
    font-size: medium;
} */
/* @media (max-width: 768px) {
    .loginContainer {
        margin-bottom: 4%;
    }
} */

/* #form {
    margin-top: 3%;
} */

