<body>
<h1>Inventory Checkout</h1>
<hr class="horizontalLine">
<hr class="verticalLine">

<p class="productType">Product Type &#x25BE;</p>
<p class="brand">Brand &#x25BE;</p>
<p class="stock">Stock &#x25BE;</p>

<!--<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node">
        <li class="mat-tree-node">
            <button mat-icon-button disabled></button>
            {{node.filename}}: {{node.type}}
        </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <li>
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.filename}}
            </div>
            <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree> -->














<h4 class="macbook16">MacBook Pro 16"</h4>
    <img computerOne src="assets/macbookpro.jpg" routerLink="/item">
        <h5 class="macbook16CPU">CPU: 2.6GHz 6-Core Intel Core i7</h5>
        <h5 class="macbook16GPU">GPU: AMD Radeon Pro 5300M with 4GB of GDDR6 Memory</h5>
        <h5 class="macbook16Memory">Memory (RAM): 16GB</h5>
        <h5 class="macbook16Storage">Storage: 512GB</h5>

<hr class="firstLine">

    <h4 class="macbook13">MacBook Pro 13"</h4>
    <img computerTwo src="assets/macbookpro.jpg"  routerLink="/item">
            <h5 class="macbook13CPU">CPU: Apple M1</h5>
            <h5 class="macbook13GPU">GPU: 8-Core</h5>
            <h5 class="macbook13Memory">Memory (RAM): 8GB</h5>
            <h5 class="macbook13Storage">Storage: 256GB</h5>

<hr class="secondLine">
    <h4 class="dell15">Dell XPS 15"</h4>
    <img computerThree src="assets/dellXPS.jpeg"  routerLink="/item">
            <h5 class="dell15CPU">CPU: 2.6GHz 6-Core Intel Core i7</h5>
            <h5 class="dell15GPU">GPU: AMD Radeon Pro 5300M with 4GB of GDDR6 Memory</h5>
            <h5 class="dell15Memory">Memory (RAM): 16GB</h5>
            <h5 class="dell15Storage">Storage: 512GB</h5>    

        <!-- <hr class="thirdLine"> -->




</body>