<body>
    <div class="checkoutContainer">
        <h1 id="checkoutHeader">Checkout</h1>
    </div>
    <hr>
    <div class="filterContainer">
        <div>
            <form [formGroup]="selectCategory" fxLayoutGap="25px">
                <mat-form-field class="filterForm">
                    <mat-select placeholder="Select Category" formControlName="category"
                        (selectionChange)="categorySelected($event.value)">
                        <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                            {{category.categoryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="filterForm">
                    <mat-select placeholder="Select Sub Category" formControlName="subCategory"
                        (selectionChange)="subCategorySelected($event.value)">
                        <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.subCategoryName">
                            {{subCategory.subCategoryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
    <hr>

    <div class="inventoryContainer">



        <div *ngFor='let item of uniqueModelResult' class="itemContainer">
            <div *ngFor="let model of item">
                <mat-card class="itemCard">
                    <mat-card-header>
                        <mat-card-title class="itemTitle">
                            {{ model.model }}
                        </mat-card-title>
                    </mat-card-header>
                    <div class="imgContainer">
                        <img mat-card-image src="{{model.imagePath}}" alt="{{model.model}}" class="cardImage">
                    </div>
                    <mat-card-actions>
                        <button mat-button routerLink="/checkout/{{model.model}}">ITEM DETAILS</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </div>

    <!-- <div fxLayout="column" fxLayoutGap="1vw" class="container">
        <div fxLayout="row" class="headerContainer">
            <div fxLayoutAlign="left">
                <h1 class="checkoutHeader">Checkout</h1>
            </div>
        </div>
        <hr>
        <div fxLayout="row" class="filterContainer">
            <div fxLayoutAlign="center" fxFill>
                <form [formGroup]="selectCategory" fxLayoutGap="25px">
                    <mat-form-field class="filterForm">
                        <mat-select placeholder="Select Category" formControlName="category"
                            (selectionChange)="categorySelected($event.value)">
                            <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                                {{category.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="filterForm">
                        <mat-select placeholder="Select Sub Category" formControlName="subCategory"
                            (selectionChange)="subCategorySelected($event.value)">
                            <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.subCategoryName">
                                {{subCategory.subCategoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <hr>

        <div fxLayout="row" class="inventoryContainer">

            <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="grid">

                <div fxFlex="20%" *ngFor='let item of uniqueModelResult' class="itemContainer">
                    <div *ngFor="let model of item">
                        <mat-card class="itemCard">
                            <mat-card-header>
                                <mat-card-title class="itemTitle">
                                    {{ model.model }}
                                </mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="{{model.imagePath}}" alt="{{model.model}}" class="cardImage">
                            <mat-card-actions>
                                <button mat-button routerLink="/checkout/{{model.model}}">ITEM DETAILS</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</body>