<div class="waiver">
    <h1 id="waiverTitle">IT Program Checkout Waiver Agreement</h1>
    <h2>By Selecting Accept:</h2>
    <p>
    The student understands that they are financially responsible and liable for any damaged equipment, equipment components, missing equipment, or missing equipment components. If equipment or components are damaged or missing the student will be charged via their student account with full repair and/or replacement costs. The student agrees to all statements listed below.
    <br>
    Loan Policy:
    </p>
    <p>
    • A valid Mizzou ID Card or legal photo ID must be presented at the time of the loan.
    <br>
    • All items are checked and verified to have no damage or missing components by the IT Program staff prior to
    leaving the Checkout Office and are verified as in good working order.
    <br>
    • All equipment must be returned the following day by 3pm. If checked out on Friday, the loan period is extended through the weekend and equipment will be due Monday by 3pm.
    <br>
    • A waitlist will be kept for various items throughout the semester. You may place a reservation to pick an item up on a specific day we are open. If you fail to pick the item(s) at the time you scheduled, your reservation is terminated, and the item will be checked out to another student.
    <br>
    • Borrowers are only allowed to have one item per category checked out at a time; for example, a borrower can only have one laptop checked out at a time but can have a laptop and a camera checked out at the same time. Multiple items from the same category may be checked out with approval from the managing faculty member of IT Checkout, not the course instructor; a message must be sent by the instructor to the managing faculty member for any approvals to be made.
    <br>
    • The borrower is responsible for copying and/or saving any data from the item(s) before returning it (if applicable). Applicable items are formatted after return.
    <br>
    • Failure to comply with policy may result in revocation of borrowing privileges and/or fines at the discretion of the checkout office or the managing faculty member.
    <br>
    • Equipment must be returned in person, by the original borrower. Do not drop off equipment and leave before it all has been fully inspected and checked in. You are responsible for it.
    <br>
    • The borrower will not leave equipment unattended for any length of time, or loan it to another person.
    <br>
    • Tampering with or modifying items is not allowed in any form, this includes both hardware and software modifications, without approval from the managing faculty member of IT Checkout, not the course instructor; a message must be sent by the instructor to the managing faculty member for any approvals to be made. If equipment is not functioning properly, read the manual. If you are still having issues, send the checkout office a DETAILED email at checkitout@missouri.edu.
    </p>
    <h2>
    Late Return Policy:
    </h2>
    <p>
    • Returning equipment late will result in a strike and a late return fine. Receiving three strikes will result in revocation of checkout privileges. Any equipment needed for course assignments will become the responsibility of the student and come from somewhere else.
    <br>
    • Equipment rentals must be returned at the defined due date and time to avoid late fees. Equipment that is returned AFTER the defined date and time will be assessed a $15 late fee. Every 24 hours that pass, a doubled fee will be ADDED to your previous fee. This will continue until the equipment has been returned. Late fees are not refundable, even if you bring the equipment back.
    <br>
    • By agreeing to this waiver, you grant the IT Program to charge your student account this fee. You will be notified of the late fee when it is being processed.
    <br>
    • Extensions ARE allowed under special circumstances, such as family emergency or documented health issues. You MUST email your instructor for permission, who will, in turn, notify the checkout desk. You may NOT show up at the checkout office to ask for an extension, as checkout staff ARE NOT AUTHORIZED to provide extensions. Extensions must come at least one hour prior to the items defined return date and time.
    <br>
    • Items not returned within 14 days, with no contact with faculty or staff, will be considered stolen and reported to the proper authorities, as well as the registrar.
    <br>
    • In the event that the student fails to return the rented items, in part or in whole, by the last day of final’s week, not only will they be charged the full replacement cost of the item(s), but a hold on all semester grades will be placed until payment is received. Extensions may only be granted within 3 days prior to the last business hour of final’s week (Tuesday, by 3:00 PM CST). No exceptions will be made.

    </p>
    <h2>
    Damage/Loss Policy:
    </h2>
    <p>
    • Borrowers are financially responsible for all lost or broken items along with the components of said items. It does not matter if you are not directly responsible for the loss or damage, the rented item(s) are under your watch, and thus, you are responsible.
    <br>
    • Replacement and repair costs will be assessed accordingly with a minimum cost of $50, however, it can cost up to $8000 or more depending on the item(s). The item of concern will be priced accurately and fairly based on current availability, market price, and equivalencies if the item is no longer available or dated.
    <br>
    • Condition of equipment will be recorded each time the item is checked in and out. This protects both the IT Checkout and the student from he said / she said arguments. It is the student’s responsibility to verify that the equipment is in good working order during the checkout process, beyond that which the checkout staff is required.
    <br>
    • Equipment that is damaged or lost must be replaced within 30 days of the reported loss, or the check-out due date. Extensions may be granted by the managing faculty member.
    <br>
    </p>
    <h2>
    By Selecting Accept:
    </h2>
    <p>
    The student understands that they are financially responsible and liable for any damaged equipment, equipment components, missing equipment, or missing equipment components. If equipment or components are damaged or missing the student will be charged via their student account with full repair and/or replacement costs. The student agrees to all aforementioned statements in this document.
    </p>
</div>