<body>
    <div class="aboutContainer">
        <h1 id="aboutHeader">About</h1>
        <hr>
    </div>
    <div class="bodyContainer">
        <div class="iconContainer">
            <span class="material-icons-outlined">
                devices_other
            </span>
        </div>
        <div class="aboutInfoContainer">
            <p>The IT Program has equipment that students are able to checkout throughout the semester free of charge.
            </p>
            <p>We provide students with the devices on loan. Items include Apple laptops,
                Windows laptops, cameras, microphones, and lighting equipment.</p>
            <p>Students are able to keep these devices for as long as the whole semester at free of charge.</p>
            <h2 id="contactHeader">CONTACT:</h2>
            <p>checkitout@missouri.edu</p>
            <p>(573) 882-5000</p>
        </div>
    </div>
</body>