<body>
    <div class="iconContainer">
        <span class="material-icons-outlined">
            devices_other
        </span>
    </div>

    <div class="aboutContainer">
        <h1 class="aboutHeader">About</h1>
        <p>Our goal here at ITCheckOut, is to make the process for students needing the lastest technologies simple and
            streamlined.</p>
        <p>We provide Information Technology students with the devices on loan. Items include Apple laptops,
            Windows laptops, cameras, microphones, and lighting equipment.</p>
        <p>Students are able to keep these devices for as long as the whole semester at free of charge.</p>
        <h2 class="contactHeader">CONTACT:</h2>
        <p>admin@itcheckout.tech</p>
        <p>(573) 882-5000</p>
    </div>
</body>