<img id="pageTearImg" src="assets/MU-Brand-PageTear-Horiz-1920px.png">
<h3 class="currentInventory">Current Inventory</h3>

<div class="inventory">
    <p class="inventoryOneTitle">MackBook Pro 16"</p>
    <p class="IntertoryOneOut">Out</p>
    <p class="IntertoryOneAvailable">Available</p>

    <p class="inventoryTwoTitle">Dell XPS 15"</p>
    <p class="inventoryTwoOut">Out</p>
    <p class="inventoryTwoAvailable">Available</p>

    <p class="inventoryThreeTitle">Canon C200</p>
    <p class="inventoryThreeOut">Out</p>
    <p class="inventoryThreeAvailable">Available</p>
</div>

<h4 class="quickCheckout">Quick Checkout</h4>

<div class="middleBoxes">
    <img id="boxOne" src="">
    <img id="boxTwo" src="">
    <img id="boxThree" src="">
    <img id="boxFour" src="">
</div>

<p class="pickup">Pick-Up Hours</p>

<div class="bottomBlackBox">

</div>