#pageTear {
    position: absolute;
    
    transform: rotate(180deg);
    width: 100%;
    max-height: 50%;
}

.container {
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    font-family: "GOTHAM-BOLD";
}

/* Current Inventory Div */
.inventory {
    margin-top: 2.5%;
}

.inventoryHeader {
    font-size: 250%;
    color: #f1b82d;
}

.inventoryDevice {
    font-family: "GOTHAM-MEDIUM";
    font-size: 150%;
    color: white;
}

.inventoryOut, .inventoryAvailable {
    font-family: "GOTHAM-BOOK";
    font-size: 125%;
    color: white;
}

/* Quick Checkout Div */
.quickCheckout {
    position: relative;
}

.quickCheckout {
    margin-top: 7%;
    margin-bottom: -2.5%;
}

.quickCheckoutHeader {
    text-align: center;
    font-size: 250%;
    color: black;
}

.quickCheckoutSubHeader {
    font-family: "GOTHAM-MEDIUM";
    text-align: center;
    font-size: 200%;
    color: black;
}

.quickCheckoutButtonsContainer {
    max-width: 100%;
}

.quickCheckoutButtons {
    margin: 75px 75px 25px 75px;
    padding: 80px;

    background-color: black;
}

.quickCheckoutButtons:hover {
    background-color: #f1b82d;
}

.material-icons-outlined {
    transition: all .2s ease-in-out;
    transform: scale(5);
}

.material-icons-outlined:hover {
    color: black;
    transform: scale(6);
}

.quickCheckoutButtonsLabels {
    text-align: center;
    font-family: "GOTHAM-BOOK";
    font-size: 150%;
    color: black;
}