<body>
    <img id="pageTear" src="assets/MU-Brand-PageTear-Horiz-1920px.png">
    <div class="container">

        <div class="inventory">
            <h3 class="inventoryHeader">Popular Items</h3>
        </div>

        <div class="inventoryInfo">
            <div class="inventoryItem">
                <p class="inventoryDevice">Mid 2017 MacBook Pro</p>
                <div class="countContainer">
                    <p class="inventoryAvailable"><span class="inventoryAvailableCount">{{ mbp2017[0] }}</span>
                        Available
                    </p>
                    <p class="inventoryOut"><span class="inventoryOutCount">{{ mbp2017[1] }}</span> Out</p>
                </div>
            </div>
            <div class="inventoryItem">
                <p class="inventoryDevice">Dell Latitude 5580</p>
                <div class="countContainer">
                    <p class="inventoryAvailable"><span class="inventoryAvailableCount">{{ dell[0] }}</span> Available
                    </p>
                    <p class="inventoryOut"><span class="inventoryOutCount">{{ dell[1] }}</span> Out</p>
                </div>
            </div>
            <div class="inventoryItem">
                <p class="inventoryDevice">Mid 2015 MacBook Pro</p>
                <div class="countContainer">
                    <p class="inventoryAvailable"><span class="inventoryAvailableCount">{{ mbp2015[0] }}</span>
                        Available
                    </p>
                    <p class="inventoryOut"><span class="inventoryOutCount">{{ mbp2015[1] }}</span> Out</p>
                </div>
            </div>
        </div>

        <div class="quickCheckout">
            <h3 class="quickCheckoutHeader">Quick Checkout</h3>
            <h4 class="quickCheckoutSubHeader">Apply filter to quickly view inventory</h4>
        </div>

        <div class="quickCheckoutButtonsContainer">
            <div>
                <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                    <span class="material-icons-outlined">computer</span>
                </button>
                <p class="quickCheckoutButtonsLabels">Computers</p>
            </div>
            <div>
                <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                    <span class="material-icons-outlined">photo_camera</span>
                </button>
                <p class="quickCheckoutButtonsLabels">Cameras</p>
            </div>
            <div>
                <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                    <span class="material-icons-outlined">mic_none</span>
                </button>
                <p class="quickCheckoutButtonsLabels">Microphones</p>
            </div>
            <div>
                <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                    <span class="material-icons-outlined">inventory_2</span>
                </button>
                <p class="quickCheckoutButtonsLabels">All Inventory</p>
            </div>
        </div>
    </div>

    <!--
    <div class="middleBoxes">
        <img id="boxOne" src="assets/computer-logo.png">
        <img id="boxTwo" src="assets/camera-logo.png">
        <img id="boxThree" src="assets/mic-logo.png">
        <img id="boxFour">
    </div>
    -->

    <!-- <p class="pickup">Pick-Up Hours</p> -->

    <!-- <div id="bottomBlackBox"> -->
</body>