<body>
    <img id="pageTear" src="assets/MU-Brand-PageTear-Horiz-1920px.png">
    <div fxLayout="column" fxLayoutGap="1vw" class="container">
        <div fxLayout="row" class="inventory">
            <div fxLayoutAlign="center" fxFill>
                <h3 class="inventoryHeader">Popular Items</h3>
            </div>
        </div>

        <div fxLayout="row" class="inventoryInfo">
            <div fxFlex fxLayoutAlign="center" class="inventoryItem, row">
                <div>
                    <p class="inventoryDevice">MacBook Pro 15"</p>
                    <p class="inventoryOut">Out</p>
                    <p class="inventoryAvailable">Available</p>
                </div>
            </div>
            <div fxFlex fxLayoutAlign="center" class="inventoryItem, row">
                <div>
                    <p class="inventoryDevice">Dell Latitude 5580</p>
                    <p class="inventoryOut">Out</p>
                    <p class="inventoryAvailable">Available</p>
                </div>
            </div>
            <div fxFlex fxLayoutAlign="center" class="inventoryItem, row">
                <div>
                    <p class="inventoryDevice">Canon C200</p>
                    <p class="inventoryOut">Out</p>
                    <p class="inventoryAvailable">Available</p>
                </div>
            </div>
        </div>

        <div fxLayout="row">
            <div fxLayoutAlign="center" fxFill>
                <div class="quickCheckout">
                    <h3 class="quickCheckoutHeader">Quick Checkout</h3>
                    <h4 class="quickCheckoutSubHeader">Apply filter to quickly view inventory</h4>
                </div>
            </div>
        </div>

        <div fxLayout="row" class="quickCheckoutButtonsContainer">
            <div fxFlex fxLayoutAlign="center" id="buttonOne">
                <div>
                    <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                        <span class="material-icons-outlined">computer</span>
                    </button>
                    <p class="quickCheckoutButtonsLabels">Computers</p>
                </div>
            </div>
            <div fxFlex fxLayoutAlign="center" id="buttonTwo">
                <div>
                    <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                        <span class="material-icons-outlined">photo_camera</span>
                    </button>
                    <p class="quickCheckoutButtonsLabels">Cameras</p>
                </div>
            </div>
            <div fxFlex fxLayoutAlign="center" id="buttonThree">
                <div>
                    <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                        <span class="material-icons-outlined">mic_none</span>
                    </button>
                    <p class="quickCheckoutButtonsLabels">Microphones</p>
                </div>
            </div>
            <div fxFlex fxLayoutAlign="center" id="buttonFour">
                <div>
                    <button mat-raised-button class="quickCheckoutButtons" routerLink="/checkout" color="black">
                        <span class="material-icons-outlined">inventory_2</span>
                    </button>
                    <p class="quickCheckoutButtonsLabels">All Inventory</p>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="middleBoxes">
        <img id="boxOne" src="assets/computer-logo.png">
        <img id="boxTwo" src="assets/camera-logo.png">
        <img id="boxThree" src="assets/mic-logo.png">
        <img id="boxFour">
    </div>
    -->

    <!-- <p class="pickup">Pick-Up Hours</p> -->

    <!-- <div id="bottomBlackBox"> -->
</body>