#pageTear {
    position: absolute;
    
    transform: rotate(180deg);
    width: 100%;
    max-height: 55%;
}

.container {
    position: relative;
}

h3 {
    font-family: "GOTHAM-BOLD";
}

/* Popular Items Div */
.inventory {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inventoryHeader {
    margin: 50px auto;
    font-size: 3em;
    color: #f1b82d;
}

.inventoryInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inventoryDevice {
    font-family: "GOTHAM-MEDIUM";
    font-size: 2em;
    color: white;
}

.countContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventoryOut, .inventoryAvailable {
    font-family: "GOTHAM-BOOK";
    font-size: 1.5em;
    color: white;
}

.inventoryAvailableCount, .inventoryOutCount {
    font-family: "GOTHAM-BOLD";
}

.inventoryAvailableCount {
    color: #f1b82d;
}

/* Quick Checkout Div */
.quickCheckout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.quickCheckoutHeader {
    margin-top: 50px;
    text-align: center;
    font-size: 3em;
    color: black;
}

.quickCheckoutSubHeader {
    font-family: "GOTHAM-MEDIUM";
    font-size: 1.5em;
    color: black;
}

.quickCheckoutButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row;
    justify-content: space-evenly; */
}

.quickCheckoutButtons {
    margin: 25px 75px 25px 75px;
    padding: 80px;

    background-color: black;
}

.quickCheckoutButtonsLabels {
    margin-bottom: 25px;
    text-align: center;
    font-family: "GOTHAM-BOOK";
    font-size: 150%;
    color: black;
}

.quickCheckoutButtons:hover {
    background-color: #f1b82d;
}

.material-icons-outlined {
    transition: all .2s ease-in-out;
    transform: scale(5);
}

.material-icons-outlined:hover {
    color: black;
    transform: scale(6);
}

@media (min-width: 1800px) {
    #pageTear {
        max-height: 45%;
    }
}

@media (max-width: 1300px) {
    #pageTear {        
        min-height: 100%;
    }

    .inventoryInfo {
        flex-direction: column;
        align-items: center;
    }

    .inventoryItem {
        margin-bottom: 25px;
    }
}