#backgroundImg {
    position: absolute;
    min-width: 100%; 
    height: 100%;
    z-index: 0;
}

button {
    display: block;
    margin: 5px auto;
    font-size: medium;
}

.signupContainer {
    margin-top: 2.5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.example-card {
    width: 400px;
    background-color: black;
}

.cartCheckbox {
    text-align: center;
}

.waiverCheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    margin-bottom: 0;
}

#MU {
width: 150px;
height: 160.6px;
left: 1040px;
top: 237px;
margin: auto;
display: block;
}

.center {
    text-align: center;
}

mat-form-field {
    width: 75%;
    color: black;
}

.demo {
    color: white;
}

/* border-radius change: https://stackoverflow.com/questions/66484113/change-increase-border-radius-of-mat-form-field 
     -needs important tags
     - Background color is all adjusted here
*/

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
    background-color: white;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    background-color: white;
  }
::placeholder {
    color: black;
    font-size: medium;
}

  .ng-invalid {
    color: red;    
  }

  .error {
    color: red;
}

@media (max-width: 768px) {
    .signupContainer {
        margin-bottom: 2.5%;
    }
}

