<img id="backgroundImg" src="assets/Jesse.jpeg">
<mat-card class="example-card">
    <mat-card-title><img id="MU" src="assets/MU_Stacked.png"></mat-card-title>
    <mat-card-title id="center">CheckItOut</mat-card-title>
    <mat-card-content>
        <form >
            <input class="input" type="text" formControlName="awprint">
          
          </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  