#backgroundImg {
    position: absolute;

z-index: -1;
min-width: 100%; 
height: 100%;
}

.example-card {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 30%;
    background-color: black;
}

#MU {
width: 150px;
height: 160.6px;
left: 1040px;
top: 237px;
margin-left: 35%;
}

#center {
    text-align: center;
}