<body>

    <div class="inventory">
        <img id="pageTear" src="assets/MU-Brand-PageTear-Horiz-1920px.png">
        <h3 class="inventoryHeader">Current Inventory</h3>

        <section class="inventoryInfo">
            <div class="inventoryItem">
                <p class="inventoryDevice">MacBook Pro 16"</p>
                <p class="inventoryOut">Out</p>
                <p class="inventoryAvailable">Available</p>
            </div>
            <div class="inventoryItem">
                <p class="inventoryDevice">Dell XPS 15"</p>
                <p class="inventoryOut">Out</p>
                <p class="inventoryAvailable">Available</p>
            </div>
            <div class="inventoryItem">
                <p class="inventoryDevice">Canon C200</p>
                <p class="inventoryOut">Out</p>
                <p class="inventoryAvailable">Available</p>
            </div>
        </section>
    </div>

    <div class="inventoryTabs">
        <h3 class="adminHeader">Admin</h3>
        <mat-tab-group class="tabTitle" mat-align-tabs="center" backgroundColor="primary">
            <!-- <mat-tab class="labelText" label="Inventory Overview">
                <hr class="vertical">
                <h4 class="macbook16">MacBook Pro 16"</h4>
                <img computerOne src="assets/macbookpro.jpg" routerLink="/item">
                <h5 class="macbook16CPU">CPU: 2.6GHz 6-Core Intel Core i7</h5>
                <h5 class="macbook16GPU">GPU: AMD Radeon Pro 5300M with 4GB of GDDR6 Memory</h5>
                <h5 class="macbook16Memory">Memory (RAM): 16GB</h5>
                <h5 class="macbook16Storage">Storage: 512GB</h5>
            </mat-tab> -->
            
            <mat-tab class="labelText" label="Add Item">
                <form>
                    <div class="initialForm">
                        <!-- <h4>Add Item</h4> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Type of device</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="addItem">
                                <mat-option *ngFor="let form of addItemForm" [value]="form.viewValue">
                                    {{form.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- <p> Selected device: {{selectedValue}} </p> -->
                    </div>

                    <div class="loadingForm">
                        <ng-container class="computerForm" *ngIf="selectedValue==='Computer'">
                            <mat-form-field appearance="fill">
                                <mat-label>Brand</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Model</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Release year</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Screen size</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Disk space</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Condition</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Barcode</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </ng-container>

                        <ng-container class="cameraForm" *ngIf="selectedValue==='Camera'">
                            <mat-form-field appearance="fill">
                                <mat-label>Brand</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Model</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Release year</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Condition</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Barcode</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </ng-container>

                        <ng-container class="microphoneForm" *ngIf="selectedValue==='Microphone'">
                            <mat-form-field appearance="fill">
                                <mat-label>Brand</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Model</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Release year</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Condition</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Barcode</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </ng-container>

                        <ng-container class="lightsForm" *ngIf="selectedValue==='Lights'">
                            <mat-form-field appearance="fill">
                                <mat-label>Brand</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Model</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Release year</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Condition</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Barcode</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </ng-container>
                        <button class="addItemBtn">Add Item</button>
                    </div>
                </form>

            </mat-tab>

            <mat-tab class="labelText" label="Change Pick-Up">
                <div class="pickupContainer">
                    <div class="daysForm">

                        <h4>Sunday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p>to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="daysForm">

                        <h4 class="daysTo">Monday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p class="daysTo">to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="daysForm">

                        <h4>Tuesday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p>to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="daysForm">

                        <h4>Wednesday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p>to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="daysForm">

                        <h4>Thursday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p>to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="daysForm">

                        <h4>Friday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p>to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="daysForm">

                        <h4>Saturday</h4>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <p>to</p>

                        <mat-form-field appearance="fill">
                            <mat-label>Time</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</body>