body {
    display: block;
}

/* Current Inventory Div */
.inventory {
    position: relative;
    height: 300px;
}

#pageTear {
    position: relative;
    transform: rotate(180deg);
    width: 100%;
}

.inventoryHeader {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "GOTHAM-BOLD";
    /* font-weight: bold; */
    font-size: 250%;
    color: #f1b82d;
}

.inventoryInfo {
    position: absolute;
    display: flex;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inventoryItem {
    text-align: center;
    width: 200px;
    padding: 100px;
}

.inventoryDevice {
    font-family: "GOTHAM-MEDIUM";
    /* font-weight: normal; */
    font-size: 150%;
    color: white;
}

.inventoryOut, .inventoryAvailable {
    font-family: "GOTHAM-BOOK";
    /* font-weight: lighter; */
    font-size: 125%;
    color: white;
}

.hr {
    border: 2px solid #000000;
}


.mat-tab-group {
    margin-bottom: 50%;

    font-family: "GOTHAM-BOLD";
    /* font-weight: bold; */
    font-size: 250%;
    color: black;
}

.inventoryTabs {
    position: relative;
    top: 5em;
    width: 100%;
}

.mat-tab-group {
    margin-bottom: 50%;
}

.mat-tab {
    font-family: "GOTHAM-MEDIUM";
}

 /* Test */
.macbook16 {
    position: relative;
    left: 57%;
    top: 13%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 120%;
    font-weight: 900s;
    color: #000000;
}
img[computerOne] {
    position: relative;
    width: 18%;
    height: 22%;
    left: 30%;
    top: 30%;
}
.macbook16CPU {
    position: relative;
    left: 59%;
    top: 17%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
}
.macbook16GPU {
    position: relative;
    left: 59%;
    top: 20%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
}
.macbook16Memory {
    position: relative;
    left: 59%;
    top: 23%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
}
.macbook16Storage {
    position: relative;
    left: 59%;
    top: 26%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
}

.macbook13 {
    position: relative;
    left: 57%;
    top: 37%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 120%;
    font-weight: 900;
    color: #000000;
    }
 img[computerTwo] {
        position: relative;
    width: 18%;
    height: 22%;
    left: 30%;
    top: 33.5%;
    }
.macbook13CPU {
    position: absolute;
    left: 59%;
    top: 41%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
      color: #000000;
    }
.macbook13GPU {
    position: absolute;
    left: 59%;
    top: 44%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
    }
.macbook13Memory {
    position: absolute;
    left: 59%;
    top: 47%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
    }
.macbook13Storage {
    position: absolute;
    left: 59%;
    top: 50%;
    white-space: nowrap;
    font-family: Gotham Medium;
    font-style: normal;
    font-size: 105%;
    color: #000000;
    }


.dell15 {
        position: relative;
        left: 57%;
        top: 65%;
        white-space: nowrap;
        font-family: Gotham Medium;
        font-style: normal;
        font-size: 120%;
        font-weight: 900;
        color: #000000;
        }
    img[computerThree] {
        position: relative;
        width: 18%;
        height: 22%;
        left: 30%;
        top: 60%;
        }
        
        .dell15CPU {
                /* 2.6GHz 6-Core Intel Core i7 */
        position: relative;
        left: 59%;
        top: 69%;
        white-space: nowrap;
        font-family: Gotham Medium;
        font-style: normal;
        font-size: 105%;
    
        /* identical to box height */
        color: #000000;
        }
        
        .dell15GPU {
            /* 2.6GHz 6-Core Intel Core i7 */
        position: relative;
        left: 59%;
        top: 72%;
        white-space: nowrap;
        font-family: Gotham Medium;
        font-style: normal;
        font-size: 105%;
    
        /* identical to box height */
        color: #000000;
        }
        .dell15Memory {
            /* 2.6GHz 6-Core Intel Core i7 */
        position: relative;
        left: 59%;
        top: 75%;
        white-space: nowrap;
        font-family: Gotham Medium;
        font-style: normal;
        font-size: 105%;
    
        /* identical to box height */
        color: #000000;
        }
        .dell15Storage {
            /* 2.6GHz 6-Core Intel Core i7 */
        position: relative;
        left: 59%;
        top: 78%;
        white-space: nowrap;
        font-family: Gotham Medium;
        font-style: normal;
        font-size: 105%;
    
        /* identical to box height */
        color: #000000;
        }
/* Add Item tab */
mat-form-field {
    background-color: #7D7D7D;
}

mat-label {
    color: #f1b82d;
}

.initialForm {
    position: relative;
    display: flex;
    justify-content: center;

    margin-top: 1em;
}

.loadingForm {
    position: relative;
    display: flex;
    justify-content: center;
}

mat-form-field {
    margin: 1em;
}

.pickupContainer {
    position: relative;
}

.daysForm {
    display: inline-flex;
    width: 100%;
}
