#pageTear {
    position: absolute;
    
    transform: rotate(180deg);
    width: 100%;
    max-height: 55%;
}

.container {
    position: relative;
}

h3 {
    font-family: "GOTHAM-BOLD";
}

/* Popular Items Div */
.inventory {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inventoryHeader {
    margin: 50px auto;
    font-size: 3em;
    color: #f1b82d;
}

.inventoryInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inventoryDevice {
    font-family: "GOTHAM-MEDIUM";
    font-size: 2em;
    color: white;
}

.countContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventoryOut, .inventoryAvailable {
    font-family: "GOTHAM-BOOK";
    font-size: 1.5em;
    color: white;
}

.inventoryAvailableCount, .inventoryOutCount {
    font-family: "GOTHAM-BOLD";
}

.inventoryAvailableCount {
    color: #f1b82d;
}

.filterForm {
    padding: 5px;
    border-radius: 10px;
}

.tableLabel {
    font-size: 3em;
    font-family: "GOTHAM-BOLD";
}

.tableContainer {
    margin-top: 2.5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mat-header-cell {
    background-color: black;
    color: white;
    text-align: center;
}

.specificItems {
    width: 80%;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 7px 7px #D7D7D7;
}

th, td {
    color: black;
}

tr:nth-of-type(even) {
    background-color: #D7D7D7;
}

/* Admin Header */
.adminHeaderContainer {
    margin-top: 8%;
}

.adminHeader {
    font-size: 3em;
    text-align: center;
}

/* Add Item tab */
mat-form-field {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;;
  }


mat-label {
    color: black;
}

.initialForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.loadingForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addItemBtn {
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-form-field {
    margin: 1em;
}

.not-empty-select.mat-selected {
    color: black !important;
  }

:host /deep/ .mat-select-value-text {
    color: black !important;
}

:host /deep/ .mat-select-arrow  {
    color: black !important;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.daysForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.computerForm {
    border-radius: 25px;
    column-count: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.daysTo {
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 1800px) {
    #pageTear {
        max-height: 45%;
    }
}


@media (max-width: 1300px) {
    #pageTear {        
        min-height: 100%;
    }

    .adminHeaderContainer {
        margin-top: 7.5%;
    }

    .inventoryInfo {
        flex-direction: column;
        align-items: center;
    }

    .inventoryItem {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .adminHeaderContainer {
        margin-top: 20%;
    }
}