div {
    position:absolute;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#errorCode {
    font-weight: bold;
    font-size: 1750%;
    margin: 100px;
}

#errorMessage {
    font-weight: normal;
    font-size: 415%;
    margin: 25px;
}

#humorMessage {
    font-weight: lighter;
    font-size: 125%;
    margin: 25px;
}

@media (max-width: 768px) {
    div {
        top: 65%;
    }
}