mat-toolbar {
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

img {
    width: 50px;
    height: 50px;
}

#navHeader {
  font-family: "GOTHAM-BOLD";
  /* font-weight: bold; */
}

ul, li {
  display: inline;
  margin: 0;
    padding: 0;
}

ul {
  flex: 1;
  max-width: 25%;
  display: flex;
  justify-content: space-evenly;
}

/* #tabs {
    align-content: center;
    text-align: center;
    margin: auto;
} */

button {
    font-family: "GOTHAM-MEDIUM";
    /* padding-left: 2%;
    padding-right: 2%; */
}

/* .spacer {
    flex: 1 1 auto;
  } */

  /*
 * Actual Sticky Footer Styles
 */
/* .all-wrap {
    min-height: 100vh;
  }
  
  .page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  } */
  
  
  /*
   * Make the Component injected by Router Outlet full height:
   */

   /* #cart{

   } */

   .mat-snack-bar-container{
     background: black;
     color: white;
   }

   .admin {
    font-family: "GOTHAM-MEDIUM";
    /* padding-left: 2%;
    padding-right: 2%; */
   }

   @media (max-width: 768px) {
    mat-toolbar {
        flex-direction: column;
        justify-content: center;
        height: 275px;
    }

    ul {
      flex: 0;
      flex-direction: column;
      align-items: center;
    }

    #rightSide {
      display: flex;
      flex-direction: column;
    }
}