img {
    width: 75px;
    height: 75px;
}

#tabs {
    align-content: center;
    text-align: center;
    margin: auto;
}

button {
    padding-left: 2%;
    padding-right: 2%;
}

.spacer {
    flex: 1 1 auto;
  }

  /*
 * Actual Sticky Footer Styles
 */
.all-wrap {
    min-height: 100vh;
  }
  
  .page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  
  /*
   * Make the Component injected by Router Outlet full height:
   */
