<mat-toolbar color="primary">
    <div id="logo">
        <img src="assets/MU_Stacked.png">
        <span color="warn" id="navHeader" routerLink="">CheckItOut</span>
    </div>

    <!-- <span class="spacer"></span> -->
    <ul>
        <li>
            <button mat-button routerLink="">Home</button>
        </li>
        <li>
            <button mat-button routerLink="/checkout">Checkout</button>
        </li>
        <li>
            <button mat-button routerLink="/about">About</button>
        </li>
        <li *ngIf="userRole=='admin'" class="admin">
            <button mat-button routerLink="/admin">Admin</button>
        </li>
    </ul>

    <!-- <span class="spacer"></span> -->
    <div id="rightSide">
        <button mat-button routerLink="/login" *ngIf="!(afAuth.user | async); else noLogin">Login</button>
        <ng-template #noLogin>
            <button mat-button (click)="logout()">Logout</button>
        </ng-template>
        <button mat-button routerLink="cart" id="cart">
            <mat-icon aria-hidden="false" aria-label="Shopping Cart">shopping_cart</mat-icon>
        </button>
    </div>

</mat-toolbar>